
<!--Big blue-->
  
  <div class="row align-items-center">
    <div class="col card">
      <div class="card-header">
        <h2>nouveau specialite</h2>
      </div>
      <div class="card-body">
        <form class="row g-3" #LoginForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="specialite">
          <div class="col-md-6">
            <label for="isSpecialite" class="form-label">ID</label>
            <input class="form-control" type="text" name="idSpecialite" id="idSpecialite" [(ngModel)]="specialite.idSpecialite">
          </div>
          <div class="col-md-6">
            <label for="libelleSpecialite" class="form-label">Date entrée</label>
            <input class="form-control" type="text" name="libelleSpecialite" id="libelleSpecialite" [(ngModel)]="specialite.libelleSpecialite">
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
          </div>
      </form>
      </div>
  
    </div>
  
  </div>
  